footer, footer .font-sans {
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: 230;
  font-style: normal;
  font-variation-settings: "slnt" 1;
}

#sidebar {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

#sidebar.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  #sidebar {
    width: 100%;
  }
}

/* Styles de la barre de recherche */
#search-bar {
  height: 0;
  transition: height 0.3s ease-in-out, border-top-width 0.3s ease-in-out;
  border-top: 0 solid #1388FA;
}

#search-bar.open {
  height: 60px;
  border-top-width: 0.5px;
}

#search-bar .container {
  height: 100%;
  display: flex;
  align-items: center;
}

#search-bar form {
  width: 100%;
}

#search-bar input {
  background-color: transparent;
  border: none;
  height: 40px;
}

#search-bar input::placeholder {
  color: #9CA3AF;
}

#search-bar button:hover svg {
  stroke: #3B82F6;
}

body.sidebar-open {
  overflow: hidden;
}

/* Styles du carrousel */
.swiper-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nouveautes img {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.icon {
  stroke: #000;
}

.swiper-button-next,
.swiper-button-prev {
  color: inherit;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  background: #000;
  opacity: 0.2;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.nouveautes .swiper-slide {
  transition: transform 0.3s ease;
}

.nouveautes .swiper-slide:hover {
  transform: scale(1.05);
}

.nouveautes .swiper-slide img {
  border-radius: 8px;
}

.nouveautes button {
  font-weight: 600;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  content: '' !important;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.swiper-button-next::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232563EB'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 4.5l7.5 7.5-7.5 7.5' /%3E%3C/svg%3E");
}

.swiper-button-prev::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='%232563EB'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5L8.25 12l7.5-7.5' /%3E%3C/svg%3E");
}

.custom-scroll {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-x: auto;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.scroll-left {
  left: 10px;
}

.scroll-right {
  right: 10px;
}
