body {
    background-color: #071c39;
    min-height: 100vh;
    overflow-x: hidden;
}

.gradient-container {
    position: fixed;
    inset: 0;
    overflow: hidden;
    z-index: 0;
}

.gradient {
    --size: 750px;
    --speed: 14s;
    --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
    width: var(--size);
    height: var(--size);
    filter: blur(calc(var(--size) / 5));
    background-image: linear-gradient(hsl(222, 84%, 60%), hsl(164, 79%, 71%));
    animation: rotate var(--speed) var(--easing) alternate infinite;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
} 

input:disabled {
    background-color: transparent;
    cursor: default;
}
input:not(:disabled) {
    border-color: #3b82f6;
    background-color: #f8fafc;
}

/* Styles pour la sidebar */
.sidebar {
    background: linear-gradient(to bottom, #60A5FA, #3B82F6);
}

.sidebar a {
    color: white;
}

.active-tab {
    background-color: rgba(255, 255, 255, 0.2);
    font-weight: bold;
}