/* Styles pour les écrans larges (ordinateurs) */
@media (min-width: 1024px) {
    .custom-scroll {
      scrollbar-width: none; /* Pour Firefox */
      -ms-overflow-style: none; /* Pour Internet Explorer et Edge */
    }
  
    .custom-scroll::-webkit-scrollbar {
      display: none; /* Pour Chrome, Safari et Opera */
    }
  }
  
  /* Styles pour les écrans mobiles */
  @media (max-width: 1023px) {
    .custom-scroll {
      overflow-x: auto;
    }
  }
  
  /* Ajoutez ceci à la fin de votre fichier main.css */
  
  .carousel-height {
    height: calc(80vh - 4rem);
  }
  
  @media (min-width: 640px) {
    .carousel-height {
      height: 25rem; /* 256px */
    }
  }
  
  @media (min-width: 768px) {
    .carousel-height {
      height: 32rem; /* 320px */
    }
  }
  
  @media (min-width: 1024px) {
    .carousel-height {
      height: 35rem; /* 448px */
    }
  }
 
  
  @media (min-width: 1280px) {
    .carousel-height {
      height: 33.5rem; /* 512px */
    }
  }
  
  @media (min-width: 1460px) {
    .carousel-height {
      height:40rem; /* 720px - augmenté de 40rem à 45rem */
    }
  }
  
  /* Ajoutez une nouvelle règle pour les écrans encore plus larges si nécessaire */
  @media (min-width: 1600px) {
    .carousel-height {
      height: 50rem; /* 800px */
    }
  }
  
  @media (min-width: 2000px) {
    .carousel-height {
      height: 62rem; /* 800px */
    }
  }

.input-container {
  position: relative;
  margin: 50px auto;
  width: 300px; /* Augmenter la largeur ici */
}

.input-container input[type="text"] {
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #3B82F6;
  padding: 5px 0;
  background-color: transparent;
  outline: none;
}

.input-container .label {
  position: absolute;
  top: 0;
  left: 0;
  color: #3B82F6;
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
  top: -20px;
  font-size: 16px;
  color: #3B82F6;
}

.input-container .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #3B82F6;
  transform: scaleX(0);
  transition: all 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
  transform: scaleX(1);
}
